.VS-search .VS-search-box {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    cursor: text;
    height: auto;
    min-height: 28px;
    position: relative;
}

#search_box_container {
    margin-left: 14px;
}

.VS-search .search_facet .search_facet_input_container {
    float: left;
    margin-top: 2px;
}

.VS-interface.ui-autocomplete .ui-menu-item .ui-state-hover, .VS-interface.ui-autocomplete .ui-menu-item .ui-state-focus {
    background-color: #ececec;
    background-image: none;
    color: #444;
    border: none;
}
.VS-interface.ui-autocomplete .ui-menu-item a {
    background-color: #f8f8f8;
    background-image: none;
}
.VS-search .search_input input {
    margin-top: 2px;
}