.project
.settings/**
.settings
.DS_Store
sensefy.iml
target/
derby.log
logs/manifoldcf.log
manifoldcf.log.1
write.lock
.extract
.factorypath
sensefy-ui/src/main/ui-source/.idea/cssxfire.xml
sensefy-ui/src/main/ui-source/.idea/dictionaries/sthilakasiri.xml
sensefy-ui/src/main/ui-source/.idea/encodings.xml
sensefy-ui/src/main/ui-source/.idea/misc.xml
sensefy-ui/src/main/ui-source/.idea/modules.xml
sensefy-ui/src/main/ui-source/.idea/scopes/scope_settings.xml
sensefy-ui/src/main/ui-source/.idea/ui-source.iml
sensefy-ui/src/main/ui-source/.idea/vcs.xml
sensefy-ui/src/main/ui-source/.idea/workspace.xml
sensefy-ui/src/main/ui-source/app/assets/scripts/configuration/main.js
sensefy-ui/src/main/ui-source/app/assets/scripts/configuration/mainbkp.js
sensefy-ui/src/main/ui-source/app/assets/scripts/controllers/login.js
sensefy-ui/src/main/ui-source/app/assets/scripts/controllers/main.js
sensefy-ui/src/main/ui-source/app/assets/scripts/controllers/mainbkp.js
sensefy-ui/src/main/ui-source/app/assets/scripts/controllers/root.js
sensefy-ui/src/main/ui-source/app/assets/scripts/controllers/search.js
sensefy-ui/src/main/ui-source/app/assets/scripts/directives/main.js
sensefy-ui/src/main/ui-source/app/assets/scripts/filters/main.js
sensefy-ui/src/main/ui-source/app/assets/scripts/services/main.js
sensefy-ui/src/main/ui-source/app/assets/scripts/x/interactions.js
sensefy-ui/src/main/ui-source/app/assets/scripts/x/main.js
