<div class="modal-header">
	<h3 class="modal-title" ng-bind="documentPrevName"></h3>
	<i class="glyphicon glyphicon-remove removemodel" ng-click="cancel()"></i>
</div>
<div class="modal-body row">
    <div class="col-lg-9">
        <div ng-bind="resultContent"></div>
    </div>
	<div class="col-lg-3">
        <h6>All metadata</h6>
        <span>meta</span>
	</div>
</div>
<div class="modal-footer">
	<!-- button class="btn btn-primary" ng-click="ok()">OK</button -->
	<button class="btn btn-info" ng-click="cancel()">Close</button>
</div>
