<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	 <header class="row">
		<div class="logo col-lg-3">
			<img src="images/SensefyLogo.png" />
		</div>
		<div class="search col-lg-6">

		</div>
		<div class="user col-lg-3">
			<div class="btn dropdown-toggle" type="button" id="userOptionsMenu"
				data-toggle="dropdown">
				<span class="glyphicon glyphicon-user"></span> <span
					class="userInfo">{{user.username}}</span> <span class="caret"></span>
			</div>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="action"><a role="menuitem" tabindex="-1" href="#/">Logout</a></li>
			</ul>
		</div>
	</header>

	<div class="results row">
		<div class="facets-wrapper col-lg-3">
			<div id="file-drop" imagedrop on-image-drop="imageDropped()">
    			Drop an image to get similar images
			</div>
			<div id="selected-file" ng-show="selectedFile != null">
				<header>Selected Image</header>
				<div class="file-info">
					<img ng-src="{{selectedFile.dataURI}}"/>
					<span class="name">Name: <span>{{selectedFile.name}}</span></span>
					<span class="type">Type: <span>{{selectedFile.type}}</span></span>
					<span class="size">Size: <span>{{selectedFile.size}}</span></span>
				</div>
				<div class="field-filters">
					<div>Select filter to search similar images:</div>
					<ul>
						<li ng-repeat="(field, fieldText) in searchFields" ng-class="{'selected': field == selectedSearchField}" ng-click="searchByField(field)">
						{{fieldText}}
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="documents-wrapper col-lg-9">
			<div class="loading" ng-show="loading"><i></i><i></i></div>
			<div class="paging filtering col-lg-12" ng-show="documents != null && documents.length > 0">
				<!-- End filters -->
				<span class="num-found">{{numFound}} documents found</span>
			</div>
			<div class="documents col-lg-12" ng-show="documents != null && documents.length > 0">
				<div class="document image col-lg-6"
					ng-repeat="document in documents" style="position: relative;"
					ng-include="'views/partial/image-document-template.html'" data-id="{{document.id}}"
					ng-init="loadImage(document)"
					ng-class="{true: 'clear-left'}[$even]"
					></div>
				<div class="document no-docs-found col-lg-12"
					ng-show="documents.length == 0">No documents found</div>
			</div>
		</div>
	</div>

	<ng-include src="'views/layout/footer.html'"></ng-include>
</div>

