<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<header class="row mlt-header">
		<div class="logo col-lg-3">
			<a title="Sensefy" href="#/search"><img src="images/SensefyLogo.png" /></a>
		</div>
		<div class="col-lg-6">
		</div>
		<div class="user col-lg-3">
			<div class="btn dropdown-toggle" type="button" id="userOptionsMenu"
				data-toggle="dropdown">
				<span class="fa  fa-user"></span> <span
					class="userInfo">{{user.username}}</span> <span class="caret"></span>
			</div>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li><a role="menuitem" tabindex="-1" href="#/" translate="logout"></a></li>
				<li class="divider"></li>
				<li><a role="menuitem" tabindex="-1" href="#/" translate="language"></a>
					<ul>
						<li class="lang" ng-click="changeLanguage('en-us')" translate="english"></li>
						<li class="lang" ng-click="changeLanguage('es-es')" translate="spanish"></li>
					</ul>
				</li>
			</ul>
		</div>
	</header>

	<div class="text-center mlt-loading">
		<img id="loader" src="images/ajax-loader.gif" alt="Loading" ng-show="loading" />
	</div>

	<div ng-show="init != undefined && init == true"  ng-cloak class="results row mlt-state">
		<div class="slider-wrapper col-lg-3">
			 <div>
   				<h4 translate="txtSimilarityOfDocuments"></h4>
  			 </div>
			 <rzslider rz-slider-model="threshold" rz-slider-floor="0" rz-slider-ceil="100" rz-slider-translate="translate" class="rzslider"></rzslider>
		</div>
		<div class="documents-wrapper col-lg-9">
			<div class="documents col-lg-12">
				<h4 translate="txtSeedDocument" class="h4headings"></h4>
                <a href="" class="back" onclick="javascript:window.history.go(-1)">
                    <span class="smlt glyphicon glyphicon-arrow-left"></span>
                    <span class="txt-back" translate="txtBackBtn"></span>
                </a>
                <div class="col-lg-12 loader" ng-show="searching">
                    <img src="images/ajax-loader.gif" alt="Loading" />
                </div>
                <div class="seed-document document col-lg-12"
					ng-include="'views/partial/document-template.html'"
					ng-show="document != null"></div>
                <h4 class="h4headings">
                    <span  translate="txtSimilarDocuments"></span> -
                    <span ng-bind="documents.length"></span>
                    <span translate="txtDocumentsCountFound"></span>
                </h4>
				<div class="document col-lg-12"
					ng-class="{'very-similar': document.score >= 0.8, 'similar': document.score < 0.8 && document.score >= 0.4, 'little-similar': document.score < 0.4}"
					ng-repeat="document in documents" style="position: relative;"
					ng-include="'views/partial/document-template.html'"
					ng-show="documents.length > 0"></div>
				<div class="document no-docs-found col-lg-12"
					ng-show="documents.length == 0" translate="txtNoSimilarDocumentsFound">
				</div>
			</div>
			
		</div>
	</div>

	<ng-include src="'views/layout/footer.html'"></ng-include>
</div>

