<div class="row">
    <div class="column">
        <div class="ui inverted blue menu" id="header">
            <img src="{{desktopLogo}}" alt="Sensefy main Logo" class="open left cur-hand" ng-click="logoClick()">
            <img src="{{deviceLogo}}" alt="Sensefy device Logo" class="mob cur-hand" ng-click="logoClick()">

            <div class="tag-search" ng-class="{tagSearch: entityTags.length === 0}">
                <div class="comp-wrapper clearfix">
                    <ul class="tag-set" ng-show="entityTags.length > 0">
                        <li ng-repeat="entityTag in entityTags">
                            <button class="ui right labeled icon button blue" ng-click="removeEntityTagObj(entityTag)">
                                <i ng-show="entityTag.is_place" class="pin icon entity-tag-icon"></i>
                                <i ng-show="entityTag.is_other" class="idea icon entity-tag-icon"></i>
                                <i ng-show="entityTag.is_organization" class="sitemap icon entity-tag-icon"></i>
                                <i ng-show="entityTag.is_person" class="user icon entity-tag-icon"></i>

                                <span ng-bind="entityTag.label"></span>
                                <i class="right close icon"></i>
                            </button>
                        </li>
                    </ul>

                    <sensefy-autocomplete
                            query-term="queryTerm"
                            query-function="query()"
                            ng-class="{searchCompTop: entityTags.length === 0}">
                    </sensefy-autocomplete>
                </div>
            </div>

            <div class="right menu" id="menu">
                <div class="ui mobile dropdown link item top-right-menu">
                    <i class="user icon"></i>
                    {{nickName}}
                    <i class="dropdown icon"></i>

                    <div class="menu">
                        <a class="item" translate="language"></a>
                        <a class="item indent" ng-click="changeLanguage('en-us')" translate="english"></a>
                        <a class="item indent" ng-click="changeLanguage('es-es')" translate="spanish"></a>

                        <div class="ui divider"></div>
                        <div class="item">
                            <i class="dropdown icon" tabindex="0"></i>
                            <span class="text" translate="settings"></span>

                            <div class="menu transition hidden">
                                <div class="item">Personal</div>
                                <div class="item">Search</div>
                            </div>
                        </div>
                        <div class="ui divider"></div>
                        <a class="item" ng-click="logout()" translate="logout"></a>
                        <!--a class="item" href="/logout" target="_self" translate="logout"></a-->
                    </div>
                </div>
                <a class="item"><span translate="language"></span>&nbsp;<span ng-bind="currentLanguage"></span></a>
            </div>
        </div>
    </div>
</div>


<div class="one column row ds-wrapper" ng-show="(totalDocuments && totalDocuments > 0)">
    <div class="sixteen wide column data-sources">
        <div class="ui collapsible menu ds">
            <div class="container-wrap">
                <div class="header">
                    <a class="left floated item brand"></a>

                    <div class="ui mini right floated button pe-ds-btn" ng-click="mobDSswitch()">
                        <i class="list icon"></i>
                    </div>
                </div>
                <div class="content ds-bar">
                    <div class="ui tabular menu sources" id="ds-tabs">
                        <a ng-repeat="source in sources" data-datasource-tab="{{source.value}}"
                           data-dynamic-class="{{source.value}}"
                           ng-class="{active: source.active, hideorshow:isDatasourceTab}"
                           ng-click="setActiveSource(source)" tabindex="0"
                           class="item">
                            <span class="labelinfo" translate="{{source.value}}"></span>
                            <sup class="ds-value" title="{{source.occurrence}} results"
                                 translate="{{source.occurrence}}"
                                 ng-show="source.occurrence"></sup>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="two column row result-wrapper">
<div class="twelve wide column" id="se-results">
    <div class="stats" ng-show="(totalDocuments && totalDocuments > 0)">
        <ul class="filters-doc">

        </ul>
        <div class="ui items">
            <div class="ui item">
                <div class="num-found">
                        <span translate="txtDocumentsFound"
                              translate-values="{ documents: totalDocuments,  docStart:pagerOffsetStart, docPerPage: documentsPerPage, docEnd:documentsOffsetEnd, docFromTo:docFromTo}"
                              ng-show="totalDocuments >=0"></span>
                </div>

                <div class="ui right floated settings-pp">
                    <div class="ui form results-per-page  left floated">
                        <div class="two fields">
                            <div class="field">
                                <div class="ui selection dropdown pe-itemsPerPage input-select" tabindex="0">
                                    <div class="default text">10</div>
                                    <i class="dropdown icon"></i>
                                    <input type="hidden" name="hidden-field">

                                    <div class="menu transition hidden" tabindex="-1">
                                        <div class="item active" data-value="10">10</div>
                                        <div class="item" data-value="20">20</div>
                                        <div class="item" data-value="50">50</div>
                                        <div class="item" data-value="100">100</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="results-info ui left floated" translate="resultsperpage"></div>
                    <div class="ui settings right floated">
                        <div tabindex="0" class="ui yellow top left pointing dropdown icon button">
                            <i class="settings icon"></i>

                            <div tabindex="-1" class="menu transition hidden">
                                <div class="item">
                                    <a href="#" translate="savesearch"></a>
                                </div>
                                <div class="item">
                                    <a href="#" translate="savealerts"></a>
                                </div>
                                <div class="item">
                                    <a href="#" translate="sharesearch"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="ui divider" ng-show="documents.length > 0"></div>

    <!--div ng-include="'views/partial/entity-info-template.html'"></div -->
    <div class="group-facet facets entity-information clearfix"
         ng-show="entityUI && selectedEntity !== null && searching">
        <div ng-repeat="entityItem in selectedEntity" class="clearfix entity-highlight-wrapper">
            <!--header translate="{{entityItem.label | translate}}"></header-->
            <div class="entity-info-brief">
                <div image-switch="entityItem.thumbnail[0]"></div>
                <img class="image pe-check-image" ng-src="{{entityItem.thumbnail[0]}}" thumbpath="{{entityItem.thumbnail[0]}}">
                <div class="text brief">{{entityItem.label}}</div>
                <!--div class="type brief" ng-show="entityItem.type">{{arrayToString(entityItem.type)}}</div>
                <div class="desc brief" dd-text-collapse dd-text-collapse-max-length="300" dd-text-collapse-text="{{entityItem.description[0]}}"></div-->
            </div>
        </div>
    </div>

    <div class="ui divided items documents">
        <div class="link item  document"
             dir-paginate="document in documents  | itemsPerPage: documentsPerPage"
             ng-show="documents.length > 0"
             ng-click="highlight();"
             data-result-set="{{document.data_source}}"
             data-datasource-relation="{{document.data_source}}"
             pagination-id="mainResults"
             total-items="totalDocuments"
             current-page="currentPage">
            <!-- Set the carent icon when hover to result -->
            <div class="doc-thumb" ng-if="pickThumbnail(document.mimetype)">
                <img src="images/{{thumbType}}.png" ng-show="isThumb">
                <img src="data:image/jpeg;base64,{{document.thumbnail_base64}}" ng-show="!isThumb">
            </div>

            <i class="caret right icon hover-result"></i>
            <div class="content info">

                <!-- Set the file file type icon -->
                <i class="" ng-class="pickDocIcon('{{document.mimetype}}')"
                   ng-if="document.mimetype"></i>
                <!-- Set the file title -->
                <ng-switch on="normalSearch" ng-if="document.hls.name[0] != null && document.hls.name[0] != ''">
                    <a target="_blank" ng-href="{{document.url}}" tabindex="0" class="header title" ng-show="document.url">
                        <span ng-switch-when="true" ng-bind-html="document.hls.name[0]"></span>
                        <span ng-switch-default ng-bind-html="document.name"></span>
                    </a>
                </ng-switch>

                <!-- Set the file size -->
                <span class="gray italic f-size12" ng-if="document.size" title="{{'data.size'|translate}}"
                          ng-bind="humanReadableSize(document.size)"></span>

                <!-- Set the authour -->
                <span class="gray f-size12"
                      ng-if="document.author != null && document.author != '' && document.author.length > 0">
                            | by <span title="{{'data.author' | translate}}" ng-bind="document.author[0]"></span>
                        </span>

                <!-- Set the file path -->
                <div class="meta-breadcrumb channel-l italic" ng-if="document.path">
                    <p class="channel-d underline cursor-default" ng-bind="urlTruncate('{{document.path}}')"></p>
                </div>
                <div class="content-wrapper" ng-if="document.hls.content && document.hls.content.length > 0">
                    <div class="content snippet" ng-bind-html="document.hls.content[0].trim() | excerpt:300"></div>
                </div>


                <div class="content-wrapper" ng-if="document.hls.content && document.hls.content.length > 0 && !document.content && !document.content.length > 0">
                    <div class="content excerpt" ng-bind-html="document.content[0].trim() | excerpt:300"></div>
                </div>

                <!-- Set the metadata -->
                <div class="metadata mgray clearfix">
                    <div class="meta-info-create italic">
                        <span class="underline mgray"
                              ng-if="document.ds_creator != null && document.ds_creator != '' && document.ds_creator.length > 0">
                            <span title="{{'data.creator' | translate}}" ng-bind="document.ds_creator"></span>
                        </span>
                        <span ng-if="document.ds_creation_date != null && document.ds_creation_date != ''">
                            <span title="{{'data.created'|translate}}">created</span>

                               <span title="{{dateTimeFormatterAcc(document.ds_creation_date)}}"
                                            ng-bind="dateTimeFormatter(document.ds_creation_date)"></span>
                        </span>
                    </div>
                    <span class="mgray" ng-if="document.ds_creator != null && document.ds_creator != '' && document.ds_creator.length > 0">, &nbsp; </span>
                    <div class="meta-info-modify italic">
                        <span ng-if="document.ds_last_modifier">
                            <span class="underline mgray" title="{{'data.modifier'|translate}}"
                                  ng-bind="document.ds_last_modifier"></span>
                        </span>
                        <span ng-if="document.ds_last_modified">
                            <span title="{{'data.modified'|translate}}">modified</span>
                               <span title="{{dateTimeFormatterAcc(document.ds_last_modified)}}"
                                             ng-bind="dateTimeFormatter(document.ds_last_modified)"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="preview-wrap">
                <!--
                <div class="preview-dip">
                    <img src="images/updownarrow.png">
                </div>

                Large image
                -->
            </div>
        </div>


        <div class="link document no-docs-found"
             ng-show="totalDocuments == 0 && !searching">
            <div translate="txtNoDocumentsFound" class="no-found"></div>
            <br>
            <div class="did-you-mean" ng-show="collatedQuery">
                <span translate="txtDidYouMean" class="did-you-mean-label"></span>
                    <span class="did-you-mean-suggestion" ng-click="queryTerm = collatedQuery; query();"
                          ng-bind="collatedQuery"></span>
            </div>
        </div>
    </div>

    <div class="ui divider" ng-show="documents.length > 0"></div>

    <dir-pagination-controls
            pagination-id="mainResults"
            boundary-links="true"
            template-url="views/directive/pagination/dirPagination.tpl.html"
            max-size="maxSize"
            on-page-change="setCurrentPage(currentPage)"
            ng-show="documents.length > 0">
    </dir-pagination-controls>

</div>

<div class="ui four wide column rhr" ng-show="documents.length > 0">
    <div class="ui label sort-by" translate="sortby"></div>
    <div class="ui yellow searchable floating dropdown labeled icon button sorting input-select" tabindex="0">
        <i class="filter icon"></i>
        <span class="text" ng-model="selectSortings" translate="relevance"></span>

        <div class="menu" tabindex="-1">
            <div class="item" ng-repeat="s in sortings track by s.id" ng-bind="s.sortOption | translate"
                 data-value="{{s.sortId}}, {{s.defaultSort}}"
                 ng-model="selectSortings">
                Relevance
            </div>
        </div>
    </div>
    <div class="asc-dec">
        <i class="sort content ascending icon" ng-class="{'active': sorting === 'ASC'}"
           ng-click="setSorting('','ASC');"></i>
        <i class="sort content descending icon" ng-class="{'active': sorting === 'DESC'}"
           ng-click="setSorting('','DESC');"></i>
    </div>

    <div class="ui segment">
        <div class="ui top attached label" translate="filterby"></div>
        <div class="facets-wrapper">

        </div>
        <div ng-include="'views/partial/facets-template.html'"></div>
    </div>
</div>
</div>