<div class="three column row" id="loginState">
    <div class="two wide column hidden">&nbsp;</div>
    <div class="ui ten wide column form segment">

        <div class="ui inverted blue menu mgn-btm-xl" id="header">
            <img src="images/SensefyLogo.png" alt="Sensefy Logo">
        </div>
        <div class="ui grid">
            <div class="two column row">
                <div class="eight wide column">

                    <form role="form" novalidate name="loginform">
                        <div class="field">
                            <label for="username"></label>
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" id="username" name="username" placeholder="Username" ng-model="credentials.username" required
                                       autofocus="autofocus">
                            </div>
                        </div>
                        <div class="field">
                            <label for="password"></label>
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" id="password" name="password"
                                       placeholder="Password" ng-model="credentials.password">
                            </div>
                        </div>
                        <input type="submit" class="ui yellow submit button" id="loginButton" value="Login" ng-click="login()">
                    </form>
                </div>
                <div class="eight wide column leftline">
                    <h3>Other login options</h3>
                    <a href="#"><img src="images/login-options-google.png" class="connect" alt="Login with Google"> </a>
                    <br>
                    <a href="#"><img src="images/login-options-box.png" class="connect" alt="Login with Box"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="two wide column hidden">&nbsp;</div>
</div>
