#--------OAuth2.0 Client Configuration---------
scope=openid
grant_type=password
username=zaizi1
password=zaizi321#$%
client_id=sensefy
client_secret=sensefysecret
#access_token=http://localhost:8090/ua/oauth/token
#refresh_token=
authentication_server_url=http://localhost:8090/ua/oauth/token
resource_server_url=http://localhost:8090/ua/user
#------------------------------------------------




















