<div class="entity-information facets" ng-show="selectedEntity != null">
	<header>{{selectedEntity.label}}</header>
	<div>
		<img class="image" ng-src="{{selectedEntity.thumbnail[0] || 'images/missing.jpg'}}"/>
		<div class="text">{{selectedEntity.label}}</div>
		<div class="type">{{selectedEntity.notable_type}}</div>
	</div>
</div>

<!-- <div class="entity-type-information facets" ng-show="selectedEntityType != null">
	<header>{{selectedEntityType.langAwareType}}</header>
	<div>
		<div class="text">{{selectedEntityType.id}}</div>
		<div class="type">{{selectedEntityType.langAwareType}}</div>
	</div>	
</div>-->