<div ng-click="entitySelected(entity)" ng-show="entity.is_person">
    <div class="row">
        <div class="cell info">

                <span class="text" ng-bind-html="entity.name[0] | highlight:queryTerm"></span>
                <span class="text" ng-bind-html="entity.label | highlight:queryTerm" ng-show="!entity.name[0]"></span>

            <!--span class="text" ng-bind-html="entity.label | highlight:queryTerm"></span-->
            <!--span class="type">{{entity.jobTitle || ""}}</span-->
        </div>
        <div class="cell img" ng-show="isImageAvailable">
            <img class="image" ng-src="{{checkImageAvailable(entity.thumbnail[0])}}">
        </div>
    </div>
</div>