<!-- div class="entity-information facets" ng-show="selectedEntity != null">
	<header>{{selectedEntity.label}}</header>
	<div>
		<img class="image" ng-src="{{selectedEntity.thumbnail[0] || 'images/missing.jpg'}}"/>
		<div class="text">{{selectedEntity.label}}</div>
		<div class="type">{{selectedEntity.notable_type}}</div>
	</div>
</div -->

<div class="group-facet facets entity-information clearfix"
     ng-show="selectedEntity != null">
    <header translate="{{selectedEntity.label | translate}}"></header>



    <div class="entity-info-brief">
        <check-image-available src="{{selectedEntity.thumbnail[0]}}"></check-image-available>
        Image <p ng-show="isImageAvailable">isImageAvailable</p>
        <img class="image" ng-src="{{selectedEntity.thumbnail[0]}}">

        <div class="text brief">{{selectedEntity.label}}</div>
        <div class="type brief" ng-show="selectedEntity.type">{{arrayToString(selectedEntity.type)}}</div>
        <div class="desc brief" ng-show="selectedEntity.description">{{selectedEntity.description}}</div>
    </div>
</div>

<!-- <div class="entity-type-information facets" ng-show="selectedEntityType != null">
	<header>{{selectedEntityType.langAwareType}}</header>
	<div>
		<div class="text">{{selectedEntityType.id}}</div>
		<div class="type">{{selectedEntityType.langAwareType}}</div>
	</div>	
</div>-->