<div class="group-facet facets"
     ng-show="facet.facetItems.length >0"
     ng-repeat="facet in facets">
	<header translate="{{facet.label | translate}}" ng-if="facet.label !== null" class="header"></header>

	<ul>
		<li class="group-value" ng-repeat="facetItem in facet.facetItems" ng-class="{overFacets: $index>SensefyFacetsPerGroupMin, hiddenFacet:!facetToggle}">
            <span class="entity-label" ng-click="addFilter(facetItem, facet.label)" tabindex="0">
                <span class="iconWrapper" ng-class="{iconSwitch: isFacetSelect[facetItem.filter]}">
                    <i class="checkmark box icon"></i>
                    <i class="check square icon"></i>
                    <i class="file outline icon" ng-class="pickDocIcon('{{facetItem.value}}')" ng-if="facet.label !== null && facet.label==='Mimetype'"></i>


                <!--i class="check icon check-icon check-filter"></i>
                <i class="check icon check-icon check-filter"></i-->

                    <span translate="{{facetItem.value}}"></span>
                </span>
            </span>
			<span class="badge" ng-bind="facetItem.occurrence"></span>
		</li>
	</ul>

    <div class="morelessswitch facetspanexp" ng-click="facetToggle=!facetToggle" tabindex="0" ng-show="facet.facetItems.length > (SensefyFacetsPerGroupMin+1)">
        <i class="minus circle icon" ng-show="facetToggle"></i>
        <i class="add circle icon" ng-hide="facetToggle"></i>
    </div>
</div>


<div class="group-facet facets" ng-show="clusters.length > 0">
    <header translate="Topics | translate"></header>

    <ul>
        <li class="group-value" ng-repeat="cluster in clusters" ng-class="{overFacets: $index>SensefyFacetsPerGroupMin, hiddenFacet:!facetToggleCluster}">
            <span class="entity-label" tabindex="0" ng-click="addCluster(cluster, $index); isFacetSelectCluster[$index] = !isFacetSelectCluster[$index]">
                <i class="check icon check-icon" ng-show="isFacetSelectCluster[$index]"></i>
                <span translate="{{cluster.label}}"></span>
            </span>
            <span class="badge" ng-bind="cluster.size"></span>
        </li>
    </ul>
    <div class="morelessswitch facetspanexp"ng-click="facetToggleCluster=!facetToggleCluster" tabindex="0" ng-show="clusters.length > SensefyFacetsPerGroupMin">
        <i class="glyphicon glyphicon-play ninetyminus" ng-show="facetToggleCluster"></i>
        <i class="glyphicon glyphicon-play ninetyplus" ng-hide="facetToggleCluster"></i>
    </div>
</div>