<div ng-switch="autocompletePhase">

	<div ng-switch-when='phase1' ng-click="titleSelected(suggestion)">
		<span class="text" ng-bind-html="suggestion.document_suggestion | highlight:queryTerm"></span>
	</div>

	<div ng-switch-when='phase2'
		ng-click="entityTypeAttributeSelected(suggestion)">
		<span class="text" ng-bind-html="suggestion | highlight:queryTerm"></span>
	</div>

	<div ng-switch-when='phase3'
		ng-click="entityTypeAttributeValueSelected(suggestion)">
		<span class="text" ng-bind-html="suggestion | highlight:queryTerm"></span>
	</div>
</div>
