/*
    #   by Sameera @ zaizi.com
    #   for Sensefy Search
    #   main css file to handle all modules out of semantic ui
*/

/*******************************
            Global
*******************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    font: inherit;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block
}

html{
    font-size: 14px;
}

body {
    line-height: 1;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}




[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

.italic {
    font-style: italic;
}

.italic-underline {
    font-style: italic;
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
    cursor: pointer;
}
.cursor-default{
    cursor: default;
}

.meta-font {
    font-size: 12px;
}

.regular {
    font-weight: normal;
}

sub, sup {
    font-size: 10px
}

.f-size12 {
    font-size: 12px;
}

.mgn-btm-xl {
    margin-bottom: 32px !important;
}

.ui.footer {
    bottom: 0;
    position: fixed;
}

.ui.full {
    width: 100%;
}

.ui.center {
    text-align: center
}

.item.indent {
    text-indent: 16px
}

.lang {
    cursor: pointer;
}

.leftline {
    padding-left: 24px !important;
}

.leftline:after {
    content: "";
    height: 42%;
    left: 5px;
    position: absolute;
    top: 33px;
    width: 1px;
}

.form img.connect {
    display: block;
    margin-left: -3px;
    margin-top: -4px;
    padding: 0 0 13px;
    width: 206px;
    height: 57px;
}

#sensefy .wrapper {
    margin-bottom: 32px;
}

#sensefy .form {
    margin-top: 100px;
}

#sensefy .form.results-per-page {
    margin-top: 0
}

.form img {
    display: block;
    padding: 16px 0 16px 0;
    width: 200px;
    height: 76px;
}

#sensefy .loader-position {
    display: inline-block;
}

.mob {
    display: none
}

#sensefy input.prompt {
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 6px 1.5em 6px 2em !important;
    width: 330px;
    line-height: 23px;
    font-size: 14px;
}



#sensefy #search-comp {
    margin-top: 128px
}

.lan-offer {
    margin-top: 16px;
}

.suggestions-wrapper {
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.suggestions-wrapper li {
    font-size: 12px;
}

.suggestions-wrapper .header {
    min-height: 10px;
    padding: 8px 15px 8px 6px;
}

.suggestions-wrapper .sub-header {
    min-height: 10px;
    padding: 8px 15px 8px 6px;
}

.suggestions-wrapper .suggestion {
    padding: 8px 15px 8px 6px;
}

.suggestions-wrapper .suggestion.entity{
    border-top: none;
}

.suggestions-wrapper .header.curve {
    margin-top: 0;
    border-radius: 3px 3px 0 0;
}

.suggestions-wrapper .et.header:first-child{
    border-radius: 0;
}

.suggestions-wrapper .header:last-child {
    border-radius: 0 0 3px 3px;
}

.suggestions-wrapper .entity .image {
    position: absolute;
    left: 6px;
    top: 2px;
    display: block;
    height: 50px;
    width: 50px;
}

.suggestions-wrapper .entity .text, .suggestions-wrapper .entity .type {
    display: block;
    overflow: hidden;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.suggestions-wrapper ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.suggestion-wrapper ul:first-child {
    margin-top: 5px;
}

.suggestions-wrapper .entity {
    position: relative;
    padding: 2px 30px 2px 63px;
}

.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    margin-top: -5px;
    width: 0;
    margin-left: 25px;
    display: none;
}

.suggestions-wrapper .arrow{
    display: block;
}

.no-suggestions li {
    margin-top: 1px;
    padding: 8px 12px;
    border-radius: 5px;
}

.no-suggestions {
    margin: 0;
    margin-top: -1px !important;
}

.entity, .entity-type, .suggestion {
    cursor: pointer;
}

.hl {
    font-weight: bold;
}

#sensefy i.remove {
    left: auto;
    right: 0;
    cursor: pointer;
}

#sensefy .loading i.remove {
    display: none;
}

#sensefy i.search {
    left: 0;
}

#sensefy i.pe-remove-keyword.pe-remove-keyword-switch {
    display: none;
}

.ggl .search-header {
    position: relative;
    top: 156px;
    z-index: 1000;
}

#sensefy.ggl .prompt {
    line-height: 21px;
}

.ggl .documents {
    display: none;
}

.data-sources a {
    padding: 0.78571em 1.4em;
    font-size: 14px;
}

.document .content-wrapper, .document .title {
    width: 100%;
}

.facets {
    margin-bottom: 10px;
}

.facets header {
    font-weight: bold;
    padding: 3% 5%;
}
.entity-information{
    border-radius: 0.285714rem;
    padding: 8px;
}
.entity-information .image {
    max-width: 70px;
    height: auto;
    margin-right: 8px;
    float: left;
    border-radius: 4px;
}

.entity-information .brief{
    float: left;
    margin-bottom: 4px;
    width: 80%;
}

.entity-information .brief.desc{
    line-height: 16px;
    max-height: 50px;
    overflow: hidden;
    text-align: justify;
    width: 88%;
}

.entity-information.facets header {
    margin-bottom: 8px;
    padding: 2px 0;
}

.group-facet {
    clear: both;
}

.group-facet ul {
    padding: 10px;
}

.facets ul {
    list-style: outside none none;
    margin: 0;
    padding: 5%;
}

.morelessswitch {
    margin-bottom: 8px;
}

.overFacets {
    margin-bottom: 8px !important;
}

.overFacets.hiddenFacet {
    border: medium none !important;
    height: 0;
    margin-bottom: 0 !important;
    opacity: 0;
    transition: all 0.4s ease-out 0s;
}

.overFacets.hiddenFacet span {
    font-size: 0;
    height: 0;
    margin: 0;
    padding: 0;
    transition: all 0.4s ease-out 0s;
}

.overFacets.hiddenFacet .badge {
    display: none;
}

.tabular.menu a {
    cursor: pointer;
}

#sensefy .data-sources .header a {
    padding: 0;
    display: inline;
}

#sensefy .data-sources .header a:after {
    content: ''
}

div.num-found {
    display: inline-block;
    margin-top: 8px;
    width:63%;
}

.ds-bar {
    width: 100%;
}

.collapsible.menu.ds {
    border: none;
}

#sensefy .ui.icon.button.pointing {
    padding: 0.55em;
}

#sensefy .sorting {
    display: inline-block;
    font-size: 13px;
}

#sensefy .sorting .item {
    font-size: 13px
}

.settings-pp {

}

.results-info {
    margin-right: 16px;
    position: relative;
    top: 8px;
}

.results-per-page .ui.selection.dropdown {
    min-width: 65px;
    padding: 0.5em .7em;
    min-height: 1.714em;
}

.results-per-page .ui.selection.dropdown > .text {
    margin-right: 1em
}

.pagination .pager {
    display: inline-block;
}

.pagination .pager {
    display: inline-block;
}

.pagination .pager-icons {
    position: relative;
    top: 3px;
}

.pagination .pager-icons a {
    font-size: 22px;
    padding: 7px 1em;
}

.pagination .ui.button.active {
    cursor: default;
}

.pagination .ui.button:last-child {
    border-right: none;
}

.pagination .ui.button {
    padding: 0;
}

.pagination a {
    display: inline-block;
    padding: 0.785714em 1.5em;
}

sup.ds-value {
    border-radius: 4px;
    padding: 0 3px;
    margin-left: 2px;
}

i.icon.file::before {
    position: relative;
    top: -2px;
    left: -3px;
}

i.icon.file {
    font-size: 12px;
}





/*******************************
          Responsive
*******************************/

/* Mobile Only */
@media only screen and (max-width: 768px) {

    #home .menu .right.menu > .item {
        display: none;
    }

    #home .menu .right.menu > .mobile.item {
        display: block;
    }

    #home .menu .right.menu > .mobile.item .menu {
        left: auto;
        right: 0;
    }

    #home h1 {
        font-size: 1.5em;
    }

    #home .masthead.segment .information {
        margin-left: 170px;
    }

    #home .masthead.segment .image {
        width: 170px;
    }

    #home .masthead.segment .button {
        font-size: 1rem;
    }

    #home .overview .divided.grid .header .icon {
        font-size: 1.5em;
    }

    #home .overview .divided.grid .header + p {
        min-height: 0;
    }

    #home .masthead.segment .column {
        font-size: 0.7rem;
    }

    #home .masthead.segment .column p {
        display: none;
    }

    #home .selection.list .right.floated {
        display: none;
    }
}

.ui.collapsible.menu {
    display: inline;
}

@media screen and (max-width: 500px) {
    .ui.collapsible.menu {
        display: block;
    }
}

.ui.collapsible.menu .header .button {
    margin: 0.5em;
    display: none;
}

@media screen and (max-width: 500px) {
    .ui.collapsible.menu .header .button {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .ui.collapsible.menu .content {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .ui.collapsible.menu .content .item, .ui.collapsible.menu .content .menu {
        display: block;
        float: none;
        clear: both;
    }
}

/*
</div> - See more at: http://cssload.net/#sthash.fnmXZv3w.dpuf
https://www.google.com/fonts#UsePlace:use/Collection:Lato:400,700,300
*/

/*  over write semantic ui */
.ui.icon.message > .content {
    padding-left: 16px;
}

.content.ds-bar .ui.tabular.menu {
    height: 27px;
}

.content.ds-bar .ui.tabular.menu a:first-child {
    border-radius: 5px 0 0 0;
}

.content.ds-bar .ui.tabular.menu a:last-child {
    border-radius: 0 5px 0 0;
}


ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}



#sensefy #header img.open {
    /*margin-bottom: 32px;
    width: 200px;
    display: block;*/
    padding: 1rem 0 1rem 1rem;
    width: 200px;
    float: left;
}

.chrome #sensefy #header img.open {
    padding: 0;
    width: 200px;
    height: 44px;
    margin: 12px 8px;
}

.mob {
    display: none
}

.search-header {
    width: 430px;
    margin-top: 16px;
    /*margin-left: 250px;*/
    margin-left: 46px;
}

#sensefy #search-comp {
    margin-top: 16px
}

#sensefy i.remove {
    left: auto;
    right: 0px;
    cursor: pointer;
}

#sensefy .loading i.remove {
    display: none;
}

#sensefy i.search {
    left: 0;
}

#sensefy i.pe-remove-keyword.pe-remove-keyword-switch {
    display: none;
}

#sensefy .ser-btn {
    margin-left: -5px;
    border-radius: 0 0.2857rem 0.2857rem 0;
    z-index: 2;
    position: relative;
    padding: 0.75em 1.5em;
    margin-right: 0;
    top: -1px;
}


html.safari #sensefy .ser-btn {
    top: -6px;
}

#sensefy .ui.search > .results {
    margin-top: 0;
    width: 329px;
    border-radius: 0.25em 0 0.25em 0.25em;
}

.ui.loading.search .input > .icon.search::after {
    animation: 0.6s linear 0s normal none infinite running button-spin;
    border-radius: 500rem;
    border-style: solid;
    border-width: 0.2em;
    box-shadow: 0 0 0 1px transparent;
    content: "";
    height: 1.2857em;
    left: 50%;
    margin: -0.64285em 0 0 -0.64285em;
    position: absolute;
    top: 50%;
    width: 1.2857em;
}

.column .filters {
    margin-top: 32px;
}

.group-facet.facets {
    margin-bottom: 16px;
    padding-bottom: 16px;
    margin-top:17px;
}

.group-facet.facets:last-child{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}


.stats .ui.items {
    margin-top: 0
}

.results-per-page {
    display: inline-block;
    /*width: 34%;*/
    margin-right: 8px;
}

.pagination {
    text-align: center;
}

.pagination li {
    display: inline-block;
}

.pagination li.active {
    cursor: default;
}

.pagination li:last-child {
    border-right: none;
}

.document .tiny.thumb {
    cursor: pointer
}

.document .tiny.thumb img {
    margin-left: 8px
}

/*  results */
/*  tabs    */
.ui.tabular.menu .item {
    position: relative;
}

#sensefy .ui.menu > .item:first-child {
    border-radius: 0
}

.ui.menu .item::before{background: none;}

#ds-tabs a {
    border-radius: 0;
    height: auto;
}

#ds-tabs a:first-child {
    border: none;
}

#ds-tabs a.hideorshow {
    height: 0;
}

#sensefy .ui.tabular.menu .active.item {
    border-radius: 0 !important;
}

i.icon.file::before {
    position: relative;
    top: -2px;
    left: -3px;
}

i.icon.file {
    font-size: 12px;
}

.meta-breadcrumb {
    margin-top: 4px;
    font-size: 12px;
}

.create-range-btn {
    cursor: pointer;
}

#sensefy .datepicker {
    border-radius: 0.2857rem !important;
    padding: 4px;
    width: 45%;
    font-size: 90%;
}

#sensefy .search-range {
    padding: 4px;
}

#create-range {
    display: none;
}

.meta-info-create, .meta-info-modify, .meta-info-lang {
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 0;
}

.meta-info-more {
    width: 98%;
}

.meta-info-more li {
    display: inline-block;
}

.meta-info-more li:first-child {
    padding-left: 8px
}

#sensefy .document {
    position: relative;
}

#sensefy .document .hover-result {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}

#sensefy .content .description.content {
    max-width: 700px
}


.meta-breadcrumb {
    margin-top: 4px;
    font-size: 12px;
}

#sensefy .document:hover .hover-result {
    display: block;
    top: -2px;
    left: -6px;
}

.ui.items > .item > .content.info {
    width: 70%;
}


/*  facets  */
i.check-filter {
    display: none;
}

i.check-icon {
    border-radius: 5px;
    height: 12px;
    position: relative;
    top: -1px;
}

.facets .header {
    font-size: 90%;
    font-weight: bold;
    margin-bottom: 8px;
}

.facets li.group-value {
    margin-left: 8px;
    margin-bottom: 8px;
    font-size: 90%;
}

.facets li.group-value .badge {
    float: right;
    border-radius: 3px;
    padding: 2px;
    position: relative;
    top: -2px;
    font-size: 11px;
}

.facets .entity-label {
    max-width: 148px;
    display: inline-block;
    cursor: pointer;
    word-wrap: break-word;
}

.entity-label i.file {
    font-size: 11px;
}

.facetspanexp {
    display: inline-block;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.facetspanexp i {
    cursor: pointer;
}

.document .content-wrapper .content {
    line-height: 17px;
    margin: 6px 0;
}

.document .content {
    position: relative;
}

.metadata {
    font-size: 11px;
    position: relative;
}

.moremeta {
    font-size: 80%;
    padding: 8px;
}

.moremeta h6 {
    font-weight: bold;
    margin-bottom: 8px;
}

.moremeta span {
    margin-bottom: 8px;
    font-size: 80%;
    display: inline-block;
}

#sensefy .header.title {
    display: inline
}

#sensefy .description.content {
    margin-bottom: 6px;
    margin-top: 6px;
}

.metadata ul, .metadata li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.metadata li {
    float: left;
    margin-right: 16px;
}


#sensefy .content.info .header {
    font-size: 17px;
}

#sensefy .pager i {
    display: none;
}


/*  Right Hand Rail */
#sensefy .rhr {
}

#sensefy .sort-by {
    background: transparent;
    padding-left: 0;
    padding-right: 2px;
    font-size: 14px;
    font-weight: normal;
}

#sensefy .ui.dropdown.button.sorting {
    padding: 0.7em;
    padding-left: 3em !important;
    padding-right: .7em !important;
}

#sensefy .asc-dec {
    float: right;
    margin-top: 7px;
    display: none;
}

#sensefy .asc-dec i {
    color: #ccc;
}

#sensefy .link.item.document {
    border-top: none !important;
    margin-bottom: 18px !important;
    padding: 0 0 0 16px;
}

.description.view {
    margin: 60px 1%;
}


/*--------------
    Footer
---------------*/


#sensefy .ui.footer {
    margin-top: 32px;
}


#sensefy .footer p, #sensefy .footer a {
    font-size: 13px;
    padding: 1rem 0;
    text-align: center;
}

.ui.footer {
    bottom: 0;
}

/*  icon    vendor colors   */
.c-word {
    color: #2A5699;
}

.c-excel {
    color: #207245;
}

.c-pp {
    color: #D14424;
}

.c-pdf {
    color: #BB0706;
}

.c-zip {
    color: #FCE406;
}

.c-txt {
    color: #63B0C0;
}

.c-image {
    color: #070034;
}

.c-code {
    color: #87B836
}

/*  Media query */
/* Mob Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
    /*and (-webkit-min-device-pixel-ratio: 2)*/
and (orientation: portrait) {

}

/* Mob Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
    /*and (-webkit-min-device-pixel-ratio: 2)*/
and (orientation: landscape) {

}

/* Tab Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
    /*and (-webkit-min-device-pixel-ratio: 1)    */ {

}

/* Tab Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
    /*and (-webkit-min-device-pixel-ratio: 1)*/ {

}

/*#sl #header img.open { display: none; }*/
/*.mob {*/
/*display: block;*/
/*float: left;*/
/*margin: 9px;*/
/*width: 40px;*/
/*}*/
/*#sl #menu {margin-top: .5rem;}*/
.ui.collapsible.menu {
    display: inline;
}



.ui.collapsible.menu .header .button {
    margin: 0.5em;
    display: none;
}


.description.view {
    margin: 60px 1%;
}

/*  entity search   */
.suggestions-wrapper .entity {padding:0;}
.entities-wrapper .et-wrapper{
    border-bottom: none;
}
.entities-wrapper .et-label-wrap{
    vertical-align: top;
    cursor: default;
}
.entities-wrapper .et-value-wrap{
    width: 73%;
    margin-left: 27%;
}

.entities-wrapper .et-label{
    font-weight: bold;
    text-align: right;
    display: block;
    margin: 4px;
}
.entities-wrapper .et-value{
    width: 100%;
    padding: 4px;
    position:relative;
    cursor: pointer;
}


.entities-wrapper .et-value:last-child{
    border-bottom: none;
}
.entities-wrapper .et-value .row{display: table-row;}
.entities-wrapper .et-value .cell{display: table-cell;}
.entities-wrapper .et-value .cell.img{
    width: 55px;
    position: relative;
    height: 25px;
    overflow: hidden;
}
.entities-wrapper .et-value .cell.img img{
    left: 0;
    top: 0;
    height: auto;
    width: 35px;
}
.entities-wrapper .et-value .cell.info{
    width: 88%;
    margin-left: 4px;
}

.entities-wrapper .et-value .cell.info .type{
    font-size: 90%;
    padding-top: 4px;
}

.et-table
{
    display: table;
    width: 100%;
}
.et-row
{
    display: table-row;
}
.et-cell
{
    /*display: table-cell;*/
}

/*  Eo entity search   */




#tree-container{margin-top: 25px}

.node {
    cursor: pointer;
}

.overlay{
    background-color:#fff;
}

.node circle {
    fill: #fff;
    stroke: #3073B2;
    stroke-width: 1.5px;
}

.node text {
    font-size:10px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}

.bnw{
    color: white;
    padding: 4px;
}

.nodisplayrow {display:none;}

.did-you-mean-suggestion {
    font-style: italic;
}

.hide-thumb {
    position: absolute;
    left: -3000px;
    top: -3000px;
}






















div[data-angular-treeview] {
    /* prevent user selection */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* default */
    font-family: Tahoma;
    font-size:13px;
    color: #555;
    text-decoration: none;
    margin-top: 50px;
}

div[data-tree-model] ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    overflow: hidden;
}

div[data-tree-model] li {
    position: relative;
    padding: 0 0 0 20px;
    line-height: 20px;
}

div[data-tree-model] li .expanded {
    padding: 1px 10px;
    background-image: url("../images/folder.png");
    background-repeat: no-repeat;
}

div[data-tree-model] li .collapsed {
    padding: 1px 10px;
    background-image: url("../images/folder-closed.png");
    background-repeat: no-repeat;
}

div[data-tree-model] li .normal {
    padding: 1px 10px;
    background-image: url("../images/file.png");
    background-repeat: no-repeat;
}

div[data-tree-model] li i, div[data-tree-model] li span {
    cursor: pointer;
}

div[data-tree-model] li .selected {
    background-color: #aaddff;
    font-weight: bold;
    padding: 1px 5px;
}


.iconWrapper .checkmark{
    opacity: .3;
    width: 12px;
    height: auto;
    overflow: visible;
    margin-right: 4px;
}
.iconWrapper .check{
    width: 0;
    height:0;
    overflow:hidden;
    margin-right: 0;
}
.iconWrapper:hover .checkmark{
    opacity: 1;
}
.iconWrapper.iconSwitch .checkmark{
    width: 0;
    height:0;
    overflow:hidden;
    margin-right: 0;
}
.iconWrapper.iconSwitch .check{
    width: 12px;
    height: auto;
    overflow: visible;
    margin-right: 8px;
    margin-left: -3px;
}