<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="log4j.test"
status="WARN">
	<Appenders>
     	<!-- Writing log in to a log file -->
     	<File name="File" fileName="logs/sensefy.log">
     	<!-- <File name="File" fileName="/Users/deranthika/Desktop/logs/logigng.log"> -->
     	
        	<PatternLayout pattern="%d{yyyy-MM-dd  HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
     	</File>
        <!-- Writing log in Console -->
     	<Console name="Console" target="SYSTEM_OUT">
        	<PatternLayout pattern="%d{yyyy-MM-dd  HH:mm:ss.SSS} [%t] %-5level - %msg%n" />
     	</Console>
	</Appenders>
	<Loggers>
		
		<Root level="trace">
       		<AppenderRef ref="File"/>
       		<AppenderRef ref="Console"/>
		</Root>
	</Loggers>
</Configuration>