<div class="ui icon input search-header">
    <div class="ui search">
        <div class="ui search">
            <div class="ui icon input ser-input">
                <input class="prompt" type="text" style="{{style}}" ng-style="style" role="search"
                       id="searchTerm" name="searchTerm" placeholder="{{'txtEnterTextToSearch' | translate }}"
                       autofocus="autofocus"
                       ng-model="queryTerm" ng-keyup="autocomplete($event)" ng-focus="autocomplete($event)"
                       ng-click="autocomplete($event)">
                <i class="search icon"></i>
                <i class="remove circle icon pe-remove-keyword pe-remove-keyword-switch"></i>
            </div>


            <div class="ui yellow button ser-btn" tabindex="0" ng-click="queryFunction()">
                <span class="ser-txt-label">
                    Search
                </span>
            </div>


        </div>

        <div class="suggestions-wrapper selection-container">
            <div class="arrow"></div>
            <ul class="suggests-wrapper" ng-show="suggestions.titles" ng-click="autocomplete($event)">
                <li class="header curve" ng-show="autocompletePhase == 'phase1'" translate="txtDocumentTitles"></li>
                <li class="suggestion pe-sug-item" ng-class="{selected: suggestion.selected}"
                    ng-repeat="suggestion in suggestions.titles"
                    ng-include="'views/partial/suggestion-title-template.html'"
                    data-info="{{suggestion}}"
                    data-sug-type="title"></li>
            </ul>
            <ul class="entities-wrapper" ng-show="suggestions.entities">
                <li class="entity suggestion" entity-is-available entity-data-set="{{suggestions.entities}}">
                    <div class="et-table et-wrapper">
                        <div class="et-row one">
                            <div class="sub-header"><i class="user icon"></i>People <span ng-click="pplEntity('ppl')" ng-show="isPplEntity">{{pplLebal}} <i class="caret right icon"></i></span> </div>
                            <div class="et-cell et-label-wrap"></div>
                            <div class="et-cell et-value-wrap ppl">
                                <div class="et-value pplv"
                                     ng-repeat="entity in suggestions.entities"
                                     ng-include="'views/partial/entity-template-people.html'"
                                     ng-show="entity.is_person"></div>
                            </div>
                        </div>
                        <div class="et-row two">
                            <div class="sub-header"><i class="pin icon"></i>Places <span ng-click="plcEntity('plc')" ng-show="isPlcEntity">{{plcLebal}} <i class="caret right icon"></i></span> </div>
                            <div class="et-cell et-label-wrap"></div>
                            <div class="et-cell et-value-wrap plc">
                                <div class="et-value plcv"
                                     ng-repeat="entity in suggestions.entities"
                                     ng-include="'views/partial/entity-template-place.html'"
                                     ng-show="entity.is_place"></div>
                            </div>
                        </div>
                        <div class="et-row three" >
                            <div class="sub-header"><i class="sitemap icon"></i>Organizations <span ng-click="orgEntity('org')" ng-show="isOrgEntity">{{orgLebal}} <i class="caret right icon"></i></span> </div>
                            <div class="et-cell et-label-wrap"></div>
                            <div class="et-cell et-value-wrap org">
                                <div class="et-value entity-item orgv"
                                     ng-repeat="entity in suggestions.entities"
                                     ng-include="'views/partial/entity-template-org.html'"
                                     ng-show="entity.is_organization"></div>
                            </div>
                        </div>
                        <div class="et-row three" >
                            <div class="sub-header"><i class="idea icon"></i>Concepts <span ng-click="conEntity('con')" ng-show="isComEntity">{{conLebal}} <i class="caret right icon"></i></span> </div>
                            <div class="et-cell et-label-wrap"></div>
                            <div class="et-cell et-value-wrap con">
                                <div class="et-value conv"
                                     ng-repeat="entity in suggestions.entities"
                                     ng-include="'views/partial/entity-template-other.html'"
                                     ng-show="entity.is_other"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="suggests-wrapper ks" ng-show="suggestions.suggestions" ng-click="autocomplete($event)">
                <li class="header" ng-show="autocompletePhase == 'phase1'" translate="txtDocumentSuggestions"></li>
                <li class="suggestion pe-sug-item" ng-class="{selected: suggestion.selected}"
                    ng-repeat="suggestion in suggestions.suggestions"
                    ng-include="'views/partial/suggestion-template.html'"
                    data-info="{{suggestion}}"
                    data-sug-type="suggestions"></li>
            </ul>
            <ul class="no-suggestions"
                ng-hide="suggestions.entities.length > 0 ||
                    suggestions.entityTypes.length > 0 ||
                    suggestions.titles.length > 0 ||
                    suggestions.suggestions.length ||
                    queryTerm.length === 0 ||
                    entityTags.length > 0">
                <li translate="txtNoSuggestions"></li>
            </ul>
        </div>
    </div>
</div>